* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  height: 13vh;
  width: 100%;
  background-color: #66BB6A;
  color: #FFFFFF;
}

h2 {
  width: 60%;
  margin-top: 1%;
  padding-left: 15%;
  padding-bottom: 70px;
  display: inline-block;
  font-family: "Sansita Swashed", system-ui;
  font-size: 35px;
}

nav {
  width: 35%;
  display: inline-block;
  text-decoration-color: white;
  text-align: end;
}

a {
  margin-right: 35px;
  color: white;
}

.background {
  background-image: url("./assets/verde1.png");
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  text-align: center;
  padding-top: 18vh;
}
.background h1 {
  font-family: "Sansita Swashed", system-ui;
  font-size: 96px;
}
.background p {
  margin-top: 30px;
  margin-bottom: 25px;
  margin-left: 355px;
  width: 50%;
  padding-bottom: 30px;
  font-size: 18px;
}
.background button {
  background-color: #66BB6A;
  color: white;
  font-size: 20px;
  width: 250px;
  height: 55px;
  border-radius: 30px;
  box-shadow: none;
}
.background button:hover {
  background: linear-gradient(to bottom right, #66BB6A, #14c41c);
}

.cards {
  background-color: #F1F8E9;
  text-align: center;
  padding-top: 18vh;
}

.card {
  background-color: #ffffff;
  width: 22vw;
  height: 80vh;
  text-align: center;
  border-radius: 15px;
  display: inline-block;
  margin: 0px 10px;
}
.card img {
  border: so;
  height: 300px;
  width: 21.9vw;
  border-radius: 15px 15px 0 0;
}
.card h3 {
  margin: 25px;
}
.card p {
  margin: 1px 0px 18px;
  font-size: 12px;
}
.card button {
  background-color: #66BB6A;
  padding: 9px 25px 8px;
  border-radius: 29px;
  color: white;
  width: 55%;
  font-size: 24px;
}
.card button:hover {
  background: linear-gradient(to bottom right, #66BB6A, #14c41c);
}

.formulario {
  background-color: #E8F5E9;
  height: 115vh;
  width: 100%;
  text-align: center;
}
.formulario fieldset {
  padding-top: 15vh;
  padding-bottom: 15vh;
}
.formulario h3 {
  padding-top: 20vh;
  font-size: 3rem;
}
.formulario legend {
  font-size: 28px;
  width: 60%;
}
.formulario label {
  font-weight: 700;
  font-style: bold;
  font-size: 24px;
  display: flex;
  padding-left: 15%;
  margin-bottom: 3vh;
}
.formulario input {
  width: 70%;
  border-radius: 17px;
  padding-bottom: 3vh;
}
.formulario input:-moz-placeholder {
  padding-left: 15px;
  padding-top: 3px;
  font-size: 15px;
  font-weight: bold;
}
.formulario input:placeholder-shown {
  padding-left: 15px;
  padding-top: 3px;
  font-size: 15px;
  font-weight: bold;
}
.formulario select {
  height: 6vh;
  width: 70%;
  background-color: #FFFFFF;
  padding-left: 3%;
  font-size: 24px;
  border-radius: 25px;
  margin-bottom: 2%;
}
.formulario button {
  margin-top: 10px;
  background-color: #66BB6A;
  color: white;
  width: 70%;
  height: 8vh;
  font-size: 22px;
  border-radius: 25px;
}
.formulario button:hover {
  background: linear-gradient(to bottom right, #66BB6A, #14c41c);
}

footer {
  background-color: #66BB6A;
  text-align: center;
  height: 13vh;
  margin-top: 25vh;
  color: #FFFFFF;
}
footer p {
  padding-top: 5vh;
  font-size: 18px;
}/*# sourceMappingURL=style.css.map */